body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

#button-container {
    margin-top: 20px;
}

.smiley-button {
    font-size: 100px; /* Увеличим размер смайлика */
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.number {
    position: absolute;
    font-size: 20px;
    color: red;
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

