body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

h1 {
    color: #333;
}

#button-container {
    margin-top: 20px;
}

.hexagon-button {
    width: 300px; /* Размер кнопки */
    height: 300px;
    background-color: #4CAF50; /* Цвет кнопки */
    clip-path: polygon(
        50% 0%, 
        90% 25%, 
        90% 75%, 
        50% 100%, 
        10% 75%, 
        10% 25%
    ); /* Формирование шестиугольника */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px; /* Размер текста внутри кнопки */
    color: white;
    border: none;
    outline: none;
}

.hexagon-button:active {
    background-color: #45a049; /* Цвет кнопки при нажатии */
}

.number {
    position: absolute;
    font-size: 20px;
    color: red;
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
